---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="flex flex-col gap-4">
        <div>
            <h2>Error</h2>
        </div>
        <div>
            <p>Error: <span class="text-red-400">404 page not found</span></p>
            <p>
                Try refreshing the page or contact the administrator if the
                problem persists.
            </p>
        </div>
        <p>Go back to the <a href="/">home page</a>.</p>
    </div>
</Layout>
