@import "tailwindcss";

@theme {
    --font-body: var(--font-iosevka);
    --font-display: var(--font-iosevka);
    --font-mono: var(--font-iosevka);
    --font-sans: var(--font-iosevka);
    --font-serif: var(--font-iosevka);
}

a {
    @apply text-blue-500 dark:text-blue-400 underline;
}

h1 {
    @apply text-3xl font-extrabold;
}

h2 {
    @apply text-2xl font-bold;
}

h3,
h4,
h5,
h6 {
    @apply text-xl font-bold;
}

ul {
    @apply list-inside lg:list-outside;
}

#article pre {
    @apply p-4 text-sm rounded bg-scroll overflow-scroll;
}

#article p > code {
    @apply bg-gray-200 px-1 dark:bg-zinc-700 rounded;
}

#article blockquote > p {
    @apply ml-4 flex flex-col text-zinc-100;
}
