package blog

import "app/pkg/app"

templ articleShow(article article) {
	<div class="flex flex-col gap-4">
		<h1>{ article.Title }</h1>
        <span class="text-gray-500">Written the { article.Date.Format("2 January 2006") } by drawbu</span>
		@app.NavButton("/blog", "Back to blog")
		<div id="article" class="flex flex-col gap-4" hx-disable>
			@templ.Raw(string(article.Content))
		</div>
	</div>
}
