package blog

templ articleShow(article article) {
	<div class="flex flex-col gap-4">
		<h1>{ article.Title }</h1>
		<a href="/blog" class="text-blue-500">Back to blog</a>
		<div id="article" class="flex flex-col gap-4">
			@templ.Raw(string(article.Content))
		</div>
	</div>
}
