package blog

templ blog(articles []article) {
	<div class="flex flex-col gap-4">
		<h2>Blog</h2>
		<ul>
			for _, article := range articles {
				<li>
					<a href={ "/blog/" + templ.URL(article.Title) }>{ article.Title }</a>
				</li>
			}
		</ul>
	</div>
}
