package components

import (
	"time"
	"strconv"
)

templ Footer() {
	<p>
		Copyright 2023-{ strconv.Itoa(time.Now().Year()) } <a href="https://github.com/drawbu">drawbu (Clément Boillot)</a>.
		Any and all opinions listed here are my own and not representative of any of my employers, past, future, and/or
		present.
	</p>
	<p>
		Served by me, with site version 00000000, source code available
		<a href="https://github.com/drawbu/drawbu.dev">
			here
		</a>.
	</p>
}
