---
import Layout from "~/layouts/Layout.astro";

const date = new Date(2004, 3, 21, 0, 0, 0, 0); // 21 april 2004
const age = Math.floor(
    (Date.now() - new Date(date).getTime()) / (1000 * 60 * 60 * 24 * 365.25),
);
---

<Layout>
    <div class="flex flex-col gap-4">
        <h2>Resume</h2>
        <p>
            Hello!
            <br />
            I'm Clément, a {age} years old French student in computer science. I'm
            currently at Epitech Bordeaux in second year, after one year at the public
            college l'Université de Bordeaux. I'm Clément, a 21-year-old French CS
            student. I'm currently in San Francisco for a grad exchange year at
            <a href="https://sfsu.edu">SFSU</a>, and was previously at
            <a href="https://epitech.eu">Epitech</a>.
        </p>
        <p>
            I'm a tech enthusiast: really passionate about computer science and
            programming. Through the years, I fell in love with low level
            programming, and I'm now a big fan of C & Rust (both for very
            differerent reason, but still).
            <br />
            I have been using Linux for multiple years now, first out of curiosity,
            now by passion. I'm a big fan of NixOS, and I have been on Arch Linux
            for a while. I enjoy the flexibility and the control I have over my system,
            and how it helps me to learn more about it, and to be more efficient.
        </p>
        <p>
            I can be versatile. I've worked at multiple French startups doing
            full-stack development in TypeScript, but systems-level programming
            and low-level languages in general have always been what keeps me
            motivated.
        </p>
        <p>
            I am not your average tech bro, chasing AI hype or metrics, I just
            like writing code, building cool tools, and enjoying what I do. On
            my free time you can either find me building tens of projects I will
            never finish, or contributing to open source projects I like.
            <br />
            I have a few hobbies: developing useless stuff, playing Minecraft, and
            watching a lot of series (seriously, please watch Breaking Bad, For All
            Mankind and The Boys).
        </p>
    </div>
</Layout>
