@import "tailwindcss";

@font-face {
    font-family: "Iosevka Comfy";
    font-style: normal;
    font-weight: 400;
    src: url("/iosevka-comfy-fixed-normalregularupright.woff2") format("woff2");
}

@font-face {
    font-family: "Iosevka Comfy";
    font-style: normal;
    font-weight: 700;
    src: url("/iosevka-comfy-fixed-normalboldupright.woff2") format("woff2");
}

@font-face {
    font-family: "Iosevka Comfy";
    font-style: normal;
    font-weight: 800;
    src: url("/iosevka-comfy-fixed-normalextraboldupright.woff2") format("woff2");
}

@theme {
    --font-body: "Iosevka Comfy", "sans-serif";
    --font-display: "Iosevka Comfy", "sans-serif";
    --font-mono: "Iosevka Comfy", "sans-serif";
    --font-sans: "Iosevka Comfy", "sans-serif";
    --font-serif: "Iosevka Comfy", "sans-serif";
}

html {
    @apply text-lg
}

a {
    @apply text-blue-500 underline
}

h1 {
    @apply text-3xl font-extrabold
}

h2 {
    @apply text-2xl font-bold
}

h3, h4, h5, h6 {
    @apply text-xl font-bold
}

ul {
    @apply list-inside lg:list-outside
}

#article pre {
    @apply p-4 text-sm border-solid border-2 border-black rounded bg-scroll overflow-scroll
}

#article p > code {
    @apply bg-gray-200 px-1 dark:text-gray-800
}

#article blockquote > p {
    @apply ml-4 flex flex-col text-gray-500
}
