<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <script src="https://unpkg.com/htmx.org@1.9.9"></script>

  <link async rel="preconnect" href="https://fonts.googleapis.com">
  <link async rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link async href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;800&display=swap" rel="stylesheet">

  <link href="/style.css" rel="stylesheet" type="text/css">
  {% block extra_head %}{% endblock %}
</head>
<body>
  <!-- Your page content -->
  {% block content %}{% endblock %}
</body>
</html>
