package app

templ Error(message string, path string) {
	<div class="flex flex-col gap-4">
		<div>
			<h2>Failed to render page</h2>
			<p>{ path }</p>
		</div>
		<div>
			<p>Error: <span class="text-red-400">{ message }</span></p>
			<p>Try refreshing the page or contact the administrator if the problem persists.</p>
		</div>
		<p>Go back to the <a href="/">home page</a>.</p>
	</div>
}
