{% extends "template.html" %}

{% block extra_head %}
  <title>Clément Boillot</title>
  <link href="/assets/mainpage.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
  <header>
    <h1>Clément</h1>
  </header>
  <main>
    <section>
      {{ content | safe }}
    </section>
    <section>
      <h2>My articles:</h2>
      <ul>
        {% for ln in links %}
          <li><a href="/blog/{{ ln }}">{{ ln }}</a></li>
        {% endfor %}
      </ul>
    </section>
  </main>
{% endblock %}
